Table inside list element not handled

Error:
```
draft-ietf-bpf-isa.xml(2688): Error: Did not expect element table there, at /rfc/middle/section[5]/section[1]/ul/table
```

Source excerpt:
```
* Registration policy (see `RFC 8126 section 4 <https://www.rfc-editor.org/rfc/rfc8126.html#section-4>`_ for details):
+
+  * Permanent: Standards action or IESG Review
+  * Provisional: Specification required
+  * Historical: Specification required
+* Initial registrations:
+
+======  ==========================  ========  ========  ===========  ===============================================
+name    description                 includes  excludes  status       reference
+======  ==========================  ========  ========  ===========  ===============================================
+atom32  32-bit atomic instructions  -         -         Permanent    RFCXXX `Atomic operations`_
+atom64  64-bit atomic instructions  atom32    -         Permanent    RFCXXX `Atomic operations`_
+base32  32-bit base instructions    -         -         Permanent    RFCXXX
+base64  64-bit base instructions    base32    -         Permanent    RFCXXX
+div32   32-bit division and modulo  -         -         Permanent    RFCXXX `Arithmetic instructions`_
+div64   64-bit division and modulo  div32     -         Permanent    RFCXXX `Arithmetic instructions`_
+legacy  Legacy packet instructions  -         -         Historical   RFCXXX `Legacy BPF Packet access instructions`_
+======  ==========================  ========  ========  ===========  ===============================================
```